[submodule "dojo"]
	path = dojo
	url = https://github.com/dojo/dojo.git
	branch = 1.9
[submodule "Dojo-Bootstrap"]
	path = Dojo-Bootstrap
	url = https://github.com/xsokev/Dojo-Bootstrap.git
	branch = master
